@using (Html.Bootstrap().Container().Begin())
{
    @Html.Bootstrap().Heading2("Example")
    @using (Html.Bootstrap().Div().AddCss(Css.BgSecondary, Css.P5).Begin())
    {
        @using (var acc = Html.Bootstrap().Accordion().Begin())
        {
            @using (acc.AccordionItem("Accordion Item #1").Show().Begin())
            {
                <p>
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #2").Begin())
            {
                <p>
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #3").Begin())
            {
                <p>
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
        }
    }

    <hr />

    @Html.Bootstrap().Heading2("Flush")
    using (Html.Bootstrap().Div().AddCss(Css.BgSecondary, Css.P5).Begin())
    {
        @using (var acc = Html.Bootstrap().Accordion().Flush().Begin())
        {
            @using (acc.AccordionItem("Accordion Item #1").Show().Begin())
            {
                <p>
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #2").Begin())
            {
                <p>
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #3").Begin())
            {
                <p>
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
        }
    }

    <hr />

    @Html.Bootstrap().Heading2("Always open")
    using (Html.Bootstrap().Div().AddCss(Css.BgSecondary, Css.P5).Begin())
    {
        @using (var acc = Html.Bootstrap().Accordion().AlwaysOpen().Begin())
        {
            @using (acc.AccordionItem("Accordion Item #1").Show().Begin())
            {
                <p>
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #2").Begin())
            {
                <p>
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
            @using (acc.AccordionItem("Accordion Item #3").Begin())
            {
                <p>
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </p>
            }
        }
    }

    <hr />
}