@using (Html.Bootstrap().Card("Header text").SetTextBgState(TextBgState.Info).Begin())
{
    <p>
        Hello world!
    </p>
}
<hr />
@using (var card = Html.Bootstrap().Card().SetTextBgState(TextBgState.Primary).Begin())
{
    @card.Header("Header")
    @using (@card.Body().Begin())
    {
        <p>
            Hello world!
        </p>
    }
    @card.Footer("Footer")
}